.hero {
    background:
            linear-gradient(rgba(0, 123, 255, 0.6), rgba(0, 123, 255, 0.6)),
            url('/bilde.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 150px 20px;
    background-attachment: fixed;
}



.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.ring-knapp {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s;
}

.ring-knapp:hover {
    background-color: #0056b3;
}
